<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "avatar2.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Ernie Salazar</h1>
    <p>I recently decided that a career change might be what I needed. After having a successful career in Retail Management, I was hungry for something more. While I don't take the decision to change paths lightly, especially at my age, I knew I wanted to be involved in something that excited me. With so much opportunity and potential ahead, I dove head first into an area that I've always been both interested in and passion about, technology. The future, my future will be in coding, programming and web development and I can't be more exhilarated.</p>
    <p>Originally from Colorado, I've now lived in California for almost nine years. While those being the first and the current, I have also lived in Florida, Texas and Arizona. Perhaps I have a bit of explorer blood as I've always enjoyed new places and adventures. Apart from living throughout the United States, I have also done a fair share of traveling. Visiting Mexico, Germany, Denmark, Austria, Czech Republic, Greece, Netherlands, Belgium, France, Spain and Portugal. Perhaps it's that desire and enjoyment of new adventures that has led me to today.</p>
    <p>If you'd like to follow along as I learn more about programming, find me on Twitter <a href="http://twitter.com/ehsalazar">@ehsalazar</a> or on the web at <a href="https://www.ehsalazar.com">ehsalazar.com</a>.</p>
  </div>
</div>